@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*

Typrography is the way that text
is arranged and presented.

*/

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;;
}
/* 
input, button {
    font: inherit;
} */

p {
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    /* text-align: right; */
    /* text-indent: 2em; */
    line-height: 1.5;
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.1em; */
    /* font-weight: 900; */
    /* font-style: normal; */
}